.container {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    height: 100%;
    grid-template-columns: 60% 14% 26%;
    grid-template-rows: repeat(16, auto);
    grid-template-areas: 
        "logo nav nav"
        "landing landing2 landing2"
        "landing landing2 landing2"
        "landing landing2 landing2"
        "content1 content2 content2Part2"
        "content1 content3 content3Part2"
        "content1 content4 content4Part2"
        "startLearning startLearning startLearning"
        "startLearning startLearning startLearning"
        "startLearning startLearning startLearning"
        "startLearning startLearning startLearning"
        "thesis thesis thesis"
        "content5 content6 content6Part2"
        "content5 content7 content7Part2"
        "content5 content7 content7Part2"
        "footer footer footer";
}

#logo {
    background-color: white;
    grid-area: logo;
    height: 64px;
    align-items: center;
    display: flex;
}

#logo1 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(54, 69, 79);
}

#logo2 {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

#logoImg {
    margin-left: 24px;
}

nav {
    background-color: white;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 16px;
}

#signIn {
    margin-right: 24px;
}

#landing {
    background-color: lightgray;
    grid-area: landing;
    padding: 32px 24px;
}

#landingImg {
    display: block;
    width: 100%;
}

#landing2 {
    height: auto;
    background-color: lightgrey;
    grid-area: landing2;
    text-align: left;
    color: rgb(54, 69, 79);
    font-size: 28px;
    align-self: center;
}

#startHereButton {
    text-align: center;
    color: white;
    padding: 8px 12px;
    background: rgb(54, 69, 79);
    margin-right: 24px;

}

#content1 {
    background-color: white;
    grid-area: content1;
    padding: 32px 24px;
    border: 1px solid lightgrey;
}

#content1Img {
    display: block;
    width: 100%;
}

#content2 {
    height: auto;
    background-color: white;
    grid-area: content2;
    border: 1px solid lightgrey;
}

#content2Part2 {
    grid-area: content2Part2;
    display: inline-block;
    background-color: white;  
}

#content2Img {
    display: inline-block;
    height: auto;
    width: 35%;
    padding: 16px 16px;
}

#content3 {
    background-color: violet;
    grid-area: content3;
}

#content3Part2 {
    grid-area: content3Part2;
    background-color: white;
}

#content4 {
    background-color: forestgreen;
    grid-area: content4;
}

#content4Part2 {
    grid-area: content4Part2;
    background-color: forestgreen;
}

#startLearning {
    background-color: goldenrod;
    grid-area: startLearning;
}

#thesis {
    background-color: indianred;
    grid-area: thesis;
}

#content5 {
    background-color: khaki;
    grid-area: content5;
}

#content6 {
    background-color: lightblue;
    grid-area: content6;
}

#content6Part2 {
    background-color: lightblue;
    grid-area: content6Part2;
}

#content7 {
    background-color: lightseagreen;
    grid-area: content7;
}

#content7Part2 {
    grid-area: content7Part2;
    background-color: lightseagreen;
}

footer {
    background-color: magenta;
    grid-area: footer;
}