.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: 
        "logo nav"
        "landing landing"
        "landing landing"
        "landing landing"
        "content1 content2"
        "content1 content3"
        "content1 content4"
        "startLearning startLearning"
        "startLearning startLearning"
        "startLearning startLearning"
        "startLearning startLearning"
        "thesis thesis"
        "content5 content6"
        "content5 content7"
        "content5 content7"
        "footer footer";
}

#logo {
    background-color: white;
    grid-area: logo;
    height: 64px;
    align-items: center;
    display: flex;
}

#logo1 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(54, 69, 79);
}

#logo2 {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

#logoImg {
    margin-left: 24px;
}

nav {
    background-color: tomato;
    grid-area: nav;
}

#landing {
    background-color: turquoise;
    grid-area: landing;
}

#content1 {
    background-color: thistle;
    grid-area: content1;
}

#content2 {
    background-color: wheat;
    grid-area: content2;
}

#content3 {
    background-color: violet;
    grid-area: content3;
}

#content4 {
    background-color: forestgreen;
    grid-area: content4;
}

#startLearning {
    background-color: goldenrod;
    grid-area: startLearning;
}

#thesis {
    background-color: indianred;
    grid-area: thesis;
}

#content5 {
    background-color: khaki;
    grid-area: content5;
}

#content6 {
    background-color: lightblue;
    grid-area: content6;
}

#content7 {
    background-color: lightseagreen;
    grid-area: content7;
}

footer {
    background-color: magenta;
    grid-area: footer;
}