.container {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(16, auto);
    grid-template-areas: 
        "logo nav"
        "landing landing2"
        "landing landing2"
        "landing landing2"
        "content1 content2"
        "content1 content3"
        "content1 content4"
        "startLearning startLearning"
        "startLearning startLearning"
        "startLearning startLearning"
        "startLearning startLearning"
        "thesis thesis"
        "content5 content6"
        "content5 content7"
        "content5 content7"
        "footer footer";
}

#logo {
    background-color: white;
    grid-area: logo;
    height: 64px;
    align-items: center;
    display: flex;
}

#logo1 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(54, 69, 79);
}

#logo2 {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

#logoImg {
    margin-left: 24px;
}

nav {
    background-color: white;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 16px;
}

#signIn {
    margin-right: 24px;
}

#landing {
    background-color: lightgray;
    grid-area: landing;
    padding: 32px 24px;
}

#landingImg {
    display: block;
    width: 100%;
}

#landing2 {
    height: auto;
    background-color: lightgrey;
    grid-area: landing2;
    text-align: left;
    color: rgb(54, 69, 79);
    font-size: 28px;
    align-self: center;
}

#startHereButton {
    text-align: center;
    color: white;
    padding: 8px 12px;
    background: rgb(54, 69, 79);
    margin-right: 24px;

}

#content1 {
    background-color: white;
    grid-area: content1;
    padding: 32px 24px;
    border: 1px solid lightgrey;
}

#content1Img {
    display: block;
    width: 100%;
}

#content2 {
    background-color: wheat;
    grid-area: content2;
}

#content3 {
    background-color: violet;
    grid-area: content3;
}

#content4 {
    background-color: forestgreen;
    grid-area: content4;
}

#startLearning {
    background-color: goldenrod;
    grid-area: startLearning;
}

#thesis {
    background-color: indianred;
    grid-area: thesis;
}

#content5 {
    background-color: khaki;
    grid-area: content5;
}

#content6 {
    background-color: lightblue;
    grid-area: content6;
}

#content7 {
    background-color: lightseagreen;
    grid-area: content7;
}

footer {
    background-color: magenta;
    grid-area: footer;
}